footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li: a(href="https://www.facebook.com/sharer/sharer.php?u=burningallnervesdown.tk") Auf Facebook teilen
                li: a(href="https://twitter.com/intent/tweet?text=burningallnervesdown.tk") Auf Twitter teilen
                li: a(href="whatsapp://send?text=burningallnervesdown.tk") Auf Whatsapp teilen
                li: a(href='https://www.symptoma.si/sl/info/covid-19#info') COVID-19/
                    script(src='https://www.freevisitorcounters.com/auth.php?id=43d0f5a6eb01e99c2b4113c14022859a9bee7bd3')
                    script(src="https://www.freevisitorcounters.com/en/home/counter/700621/t/3")
                

        div

            ul

                li: a(href="#front") Zum Anfang

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Adresse

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-address")
                        td(class="street-address") Bandstraße 99

                    tr
                        td
                        td(class="locality") Bonlanden

                    tr
                        td
                        td(class="postal-code") 88450

                    tr
                        td
                        td(class="country-name") Deutschland

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="street-address"): a(href="mailto:info@burningallnervesdown.tk") info@burningallnervesdown.tk

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-location")
                        td: a(href="#") 48.067806"S 10.073732"E

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Like us on Facebook")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-facebook")
