extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "B.A.N.D", [
                {
                    href: "/#section-1",
                    name: "Über Uns"
                },
                {
                    href: "/#section-2",
                    name: "Genres"
                },
                {
                    href: "/#section-3",
                    name: "Die Band"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
