head

    meta(charset="utf-8")

    block description
        meta(name="description" content="Die Band, die deine Nerven durchbrennen lässt.")

    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2, minimum-scale=0.5")
    meta(name="generator" content="Platframe")

    title= pageTitle || "🎸 B.A.N.D 🎸 - Burning all nerves down"

    block links
        - if (ENV === 'production')
            link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700&display=swap")
        link(rel="stylesheet" href=`/assets/styles/root.css?v=${ TIME }`)
        link(rel="icon" href="/assets/images/global/_link/favicon_rock.png")
        link(rel="apple-touch-icon" href="/assets/images/global/_link/favicon_rock.png")

    block scripts
        script(defer src=`/assets/logic/js/root.js?v=${ TIME }`)
