section(class="canvas front" id="front")

    div(class="content")

        h2 Burning.all.nerves.down

        div

            p Die Band, die deine Nerven durchbrennen lässt.

            div

                a(href="https://www.instagram.com/burningallnervesdown/") Instagram
                a(href="#section-3") Die Band

    +nav-1("section-1")
