section(class="canvas front" id="front")

    script. 
        document.getElementById("navigation").addEventListener("click", function () {
            if (document.getElementById("mobile_view").style.opacity == 1){
                document.getElementById("mobile_view").removeAttribute("style");
            }
            else{
                document.getElementById("mobile_view").style.display = "block";
                document.getElementById("mobile_view").style.opacity = 1;
            }
        });

    div(class="content")

        h2 STEELRISE

        div

            p Die Band, die deine Nerven durchbrennen lässt.

            div

                a(href="https://www.instagram.com/steelrise_official/") Instagram
                a(href="#section-3") Die Band

    +nav-1("section-1")
