section(class="canvas section-2" id="section-2")

    h2 Die Genres

    div(class="content")

        div

            img(src="images/home/section-2/_inline/Rock.svg" inline)

            article

                h2 Rock
                p
                    | Das Wort "Rock" ist Englisch und bedeutet "Felsen". 
                    br
                    | Damit ist gemeint, dass Rockmusik im Vergleich 
                    br
                    | mit anderen Musikrichtungen eher rau klingt, so wie ein Felsen.
                    br
                    | Allderdings klingt es bei B.A.N.D wie ein Felsbruch.

        div

            img(src="images/home/section-2/_inline/Metal.svg" inline)

            article

                h2 Metal
                p.
                    Ihre Ursprünge liegen im Bluesrock und dem Hard Rock Anfang der 1970er Jahre. 
                    Sie zeichnet sich vor allem durch eine gitarren- und schlagzeugzentrierte Klangfarbe aus.
                    Bei uns zeichnet es sich durch eine, in warsten Sinne des Wortes,
                    mitreissende Klangfarbe aus. 

        div

            img(src="images/home/section-2/_inline/Punk.svg" inline)

            article

                h2 Punk
                p
                    | Punk kann man mit drei Bands beschreiben.
                    br
                    | Blink-182
                    br
                    | Green Day
                    br
                    | Burningallnervesdown.

    +nav-1("section-3")
