section(class="canvas section-1" id="section-1")

    h2 Über uns

    div(class="content")

        div

            img(src="images/home/section-1/_inline/image.jpg" alt="Bier" inline)

            article

                h2 Wir

                p
                    | Sind laut, haben eigentlich wenig Plan von Musik,
                    br
                    | aber haben Plan von Alkohol und Stimmung.

    +nav-1("section-2")
