section(class="canvas section-3" id="section-3")

    h2 Die Band

    div(class="content")

        div
            figure
                img(src="images/home/section-3/_inline/Nikolas.jpg" inline)

            article

                h3 Nikolas
                p.
                    Was ist es?
                    Eine Spinne?
                    Wenn man Nikolas bei seinen Gitarrensolos zuschaut,
                    könnte man meinen, dass seine Hände Spinnen sind.
                    Seine Finger bewegen sich wie Spinnenbeine.
                    Dabei hat er keine Probleme bei den Solos.
                    Außer es gibt kein Bier.
                    #[a(target="_blank" href="https://www.instagram.com/nikolas.koenigstaetter/") Instagram]

        div
            figure
                img(src="images/home/section-3/_inline/Doim.jpg" inline)

            article

                h3 Doim
                p.
                    Doim spielt die Bass Gitarre bei Steelrise
                    Zu Doim gibt es nicht viel zu sagen.
                    Er spielt sein Ding.
                    Hat mehr Bässe wie Autoreifen.
                    Und ist gern Pizza.
                    

        div
            figure
                img(src="images/home/section-3/_inline/Maxi.jpg" inline)

            article

                h3 Maxi
                p.
                    Maxi ist unser heimliches Supertalent.
                    Nicht das er zusammen mit Nikolas die Gitarren Fraktion abbildet,
                    hin und wieder spontan ein Solos raushaut
                    und zu dem noch singt.
                    Nein.
                    Maxi kann auch noch Notenständer in Windeseile
                    wieder zum stehen bringen.
                    #[a(target="_blank" href="https://www.instagram.com/__m_m__99__/") Instagram]

        div
            figure
                img(src="images/home/section-3/_inline/MaxiG.jpg" inline)

            article

                h3 Maxi G.
                p.
                    Maxi weiß wo der Hammer hängt.
                    Naja, eher wo seine kaputten Drumsticks liegen.
                    Bei einer Probe kann es schon mal passieren,
                    das er davon 3 Paare kaputt schlägt.
                    Aber genau das zeichnet doch einen guten Schlagzeuger aus,
                    oder? :D
                    #[a(target="_blank" href="") Instagram]

        div
            figure
                img(src="images/home/section-3/_inline/Elias.jpg" inline)

            article

                h3 Eli
                p.
                    Eli singt bei Steelrise
                    #[a(target="_blank" href="https://www.instagram.com/liawawa99/") Instagram]

        div
            figure
                img(src="images/home/section-3/_inline/Joey.jpg" inline)

            article

                h3 Joey
                p.
                    Joey ist die Sängerin bei Steelrise
                    Nicht nur ist sie das einzige Mädchen bei Steelrise
                    Auch wenn es um eine After-Show Party geht,
                    ist sie allzeit für eine Party am Start.
                    #[a(target="_blank" href="https://www.instagram.com/dschoanaa/") Instagram]

    a(href="/#section-4")
        +nav-1("section-4")
